.container{
    border: 2px solid red;
    height: 50vh;
    width: 100%;
    margin: 10px auto;
}
h2{
    text-align: center;
}

#car{
    display: block;
    border-radius: 22px;
    font-size: large;
    padding: 10px 5px;
    width: 60%;
    margin: 10px auto;
    border: 2px solid red;

}
.container2{
    /* border: 2px solid green; */
    width: 20%;
    margin: 5px auto;
}

.btn{
    border-radius: 4px;
    padding: 7px 7px;
    margin: 4px 8px;
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    color: whitesmoke;
    
    
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}